In [3]:
#Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

covid_path = "Resources/COVID_19.csv"
GDP_path = "Resources/Global_GDP.csv"
cities_path = "Resources/worldcities.csv"

COVID_data = pd.read_csv(covid_path)
GDP_data = pd.read_csv(GDP_path)
cities_data = pd.read_csv(cities_path)

COVID_data

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,08/10/2020,8,10,2020,68,1,Afghanistan,AF,AFG,38041757.0,Asia,1.172396
1,07/10/2020,7,10,2020,62,2,Afghanistan,AF,AFG,38041757.0,Asia,1.059362
2,06/10/2020,6,10,2020,145,5,Afghanistan,AF,AFG,38041757.0,Asia,1.083020
3,05/10/2020,5,10,2020,44,0,Afghanistan,AF,AFG,38041757.0,Asia,0.780721
4,04/10/2020,4,10,2020,7,4,Afghanistan,AF,AFG,38041757.0,Asia,0.665059
...,...,...,...,...,...,...,...,...,...,...,...,...
47684,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
47685,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
47686,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
47687,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
47688,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

In [17]:
COVID_data = COVID_data.rename(columns={'countriesAndTerritories': 'Countries'})
COVID_country = COVID_data.groupby('Countries')
COVID_sum = COVID_country.sum()
COVID_sum = COVID_sum[['cases','deaths']]
COVID_sum

                cases  deaths
Countries
Afghanistan     39616    1470
Albania         14730     407
Algeria         52520    1779
Andorra          2568      53
Angola           5725     211
...               ...     ...
Vietnam          1099      35
Western_Sahara    766       1
Yemen            2053     594
Zambia          15224     334
Zimbabwe         7919     229

[210 rows x 2 columns]

In [15]:
COVID_per = COVID_data.loc[(COVID_data['dateRep'] == '08/10/2020')]
COVID_per = COVID_per[['countriesAndTerritories','popData2019']]
COVID_per = COVID_per.rename(columns={'countriesAndTerritories': 'Countries','popData2019':'Population 2019'})
COVID_per

            Countries  Population 2019
0         Afghanistan       38041757.0
273           Albania        2862427.0
487           Algeria       43053054.0
765           Andorra          76177.0
974            Angola       31825299.0
...               ...              ...
46656         Vietnam       96462108.0
46935  Western_Sahara         582458.0
47101           Yemen       29161922.0
47283          Zambia       17861034.0
47487        Zimbabwe       14645473.0

[208 rows x 2 columns]

In [22]:
COVID_final = pd.merge(COVID_sum, COVID_per, how='inner',on='Countries')
COVID_final['Cases per 100,000 People'] = round(COVID_final['cases']/COVID_final['Population 2019'] * 100000,2)
COVID_final['Deaths per 100,000 People'] = round(COVID_final['deaths']/COVID_final['Population 2019'] * 100000,2)
COVID_final = COVID_final.rename(columns={'cases':'Cases','deaths':'Deaths'})
COVID_final

,Countries,Cases,Deaths,Population 2019,"Cases per 100,000 People","Deaths per 100,000 People"
0,Afghanistan,39616,1470,38041757.0,104.14,3.86
1,Albania,14730,407,2862427.0,514.60,14.22
2,Algeria,52520,1779,43053054.0,121.99,4.13
3,Andorra,2568,53,76177.0,3371.10,69.57
4,Angola,5725,211,31825299.0,17.99,0.66
...,...,...,...,...,...,...
203,Vietnam,1099,35,96462108.0,1.14,0.04
204,Western_Sahara,766,1,582458.0,131.51,0.17
205,Yemen,2053,594,29161922.0,7.04,2.04
206,Zambia,15224,334,17861034.0,85.24,1.87
207,Zimbabwe,7919,229,14645473.0,54.07,1.56